# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# mealtime to ignore
mealtime\public
mealtime\src\components\Auth\firebase.js
/Source
/video_overview
mealtime\src\components\demoForRubric
mealtime\src\Images\avatarDragon130x130.png
History_page_MealTimeApp_SvitlanaLynne.png
Home_page_MealTimeApp_SvitlanaLynne.png
Input_page_MealTimeApp_SvitlanaLynne.png
SignUp_page_MealTimeApp_SvitlanaLynne.png


